<div *ngIf="page$ | async as page">

    <!-- Sidebar Widgets Column -->
    <aside [ngClass]="['col-sm-12 pt-2']">
        <div class="card mb-2">
            <div class="card-body pt-1 pb-0">
                <div class="row">
                    <a (click)="showPreview({})" class="btn btn-primary" i18n>Create</a>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body pt-1 pb-0">
                <div class="row">
                    <div [ngClass]="tagCloudClass" (mouseover)="tagCloudClass='tag-cloud tag-cloud-hover'" (mouseout)="tagCloudClass='tag-cloud'">
                        <ul>
                            <li [ngClass]="[tag?.id == focusedTag?.id ? 'active' : '']" *ngFor="let tag of tagList; trackBy:pageService.trackByIndex">
                                <a (click)="loadByTag(tag)">
                                    <span>{{ tag.title }} ({{ tag.countOfUnreadText != undefined ? tag.countOfUnreadText: '?' }})</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a [ngClass]="['nav-item nav-link', pageType == 'default' ? 'active' : '']" (click)="onClickSetPageType('default')" i18n>My Notes</a>
            <a [ngClass]="['nav-item nav-link', pageType == 'archive' ? 'active' : '']"  (click)="onClickSetPageType('archive')" i18n>Archive</a>
            <a [ngClass]="['nav-item nav-link', pageType == 'recycle' ? 'active' : '']"  (click)="onClickSetPageType('recycle')" i18n>Recycled Notes</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tab-content">
        <div class="tab-pane fade show active border border-top-0 p-2 py-4">
            <div class="card-deck card-deck-4 text-center" appScrollable (scrollPosition)="scrollHandler($event)">
                <div [ngClass]="['card mb-4 flex-row flex-wrap', noteItem.isArchived ? 'text-muted' : 'text-dark border-dark']" *ngFor="let noteItem of pagination.data | async; trackBy:pageService.trackByIndex"
                     (click)="showPreview(noteItem)">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img class="img-fluid" *ngIf="noteItem.image" [src]="noteItem.image.url" alt="{{ noteItem.image.title }}"/>
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h6 class="card-title">{{ noteItem.title }}</h6>
                                <div class="feed-item-html card-text small" *ngIf="noteItem.content" [innerHTML]="noteItem.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="alert-warning" *ngIf="pagination.done | async" i18n>We ran out of items!</p>
            </div>
        </div>
    </div>

    <app-note [noteItem]="focusedItem" (eventEmitter)="onEventListener($event)" *ngIf="showModal" ></app-note>

</div>
